//
// Dashboard
// --------------------------------------------------

.vvp-progress-mini,
.vvp-progress-mini-track,
.vvp-progress-mini-load,
.vvp-progress-mini-play {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.3em;
}

.vvp-progress-mini {
    position: relative;
    background: $progress-bg;
}

.vvp-progress-mini-track {
    background: $vvp-track;
}

.vvp-progress-mini-buffer {
    background: $vvp-buffer;
}

.vvp-progress-mini-play {
    background: $vvp-progress;
}
