.vvp(id = "VVP", title="" role = "Video Player", tabindex = "-1", width="640" height="360")
    // 播放器
    include ../components/stream
    // player播放层
    include ../layout/player
    // service业务逻辑层
    include ../layout/service
    // plugin插件层
    include ../layout/plugin
    
