.vvp(id = "VVP", rool = "Video Player", tabindex = "-1",)
    // player播放层
    include ../layout/player
    // service业务逻辑层
    include ../layout/service
    // plugin插件层
    include ../layout/plugin
    
